.app {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  background: linear-gradient(#e66465, #9198e5);
}
.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
